body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ad76e4;
    color: #fff;
    padding: 40px;
    text-align:left;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  
  section {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  footer {
    background-color: #ad76e4;
    color: #fff;
    text-align: center;
    padding: 15px 0; 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto; 
  }
  
  .container {
    display: flex;
    padding: 20px;
    align-items: center; 
    text-align: center;
    justify-content: center;
    height: 150px; 
    border: 2px solid #333; 
    margin-top: 20px; 
    margin-bottom: 10px;
    width: 600px;
  }
  
  
  .content {
    flex: 20;
    text-align: center; 
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; 
  }
  
  .hamburger {
    display: none;
  }
  
  
  nav li {
  display: inline;
  margin-right: 20px;
  font-weight: normal; 
  }
  
  nav ul li a {
    text-decoration: none;
  }
  
  h1 {
    margin: 0;
  }
  
  p {
    margin-bottom: 1px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .logo {
    flex: 5;
    font-size: 30px;
    font-weight: bold; 
  }
  
  
  .logo img {
    max-width: 100%; 
    height: auto;
    border-radius: 50%; 
    margin-top: 10px;
  }
  
  

  @media (max-width: 992px) {
    html {
      font-size: 75%;
    }
  }
  
 
  @media (max-width: 768px) {
    html {
      font-size: 65%;
    }
    .mynavbar .navlink {
      font-size: 2rem;
      text-align: center;
    }
    .sticky-top {
      overflow: hidden;
    }
  }
  
 
  @media only screen and (max-width: 576px) {
    html {
      font-size: 60%;
    } 
    section {
      padding-bottom: 40px;
      padding-top: 0px;
    }
    .content h2 {
      font-size: 20px;
    }
    .hamburger {
      display: block;
      cursor: pointer;
    }
    .hamburger .line {
      width: 26px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
    }
    .logo {
      flex: 5;
      font-size: 30px;
      font-weight: bold;
      text-align: left; 
    
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
  }
  
  .logo img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      margin-top: 10px;
      margin-left: 0;
  }
  
  
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 16px 8px -9px rgba(191, 191, 191, 1);
    transition: 0.5s;
    overflow: hidden;
    text-align: left; 
  }
  
    .nav-bar.active {
      height: 250px;
    }
    body {
      font-family: 'Arial', sans-serif;
      background-color: #e5f2ff;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
      background-color: white;
  }
    .nav-bar ul {
      display: block;
      width: fit-content;
      margin: 50px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
    }
    .nav-bar ul li {
      display: flex;
      margin-left: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .nav-bar.active ul {
      opacity: 1;
    }
    .nav-bar ul li a {
      margin-bottom: 12px;
      font-size: 14px;
      color: white;
    }
    .simply-section {
      padding: 45px;
      margin: 3px;
    }
  }